body {
  background-color: black;
}
#canvas {
  position: fixed;
  margin: auto;
  padding-top: 35px;
  padding-left: 170px;
}
.background {
  width: 75%;
  position: fixed;
  z-index: -1;
}
.foreground {
  width: 75%;
  position: fixed;
  z-index: 2;
}
button {
  width: 400px;
  height: 100px;
  margin-top: 760px;
  margin-left: 200px;
}
